
@{
    ViewBag.Title = "BeachStatistics";
}


<canvas class="myCanvas" id="myCanvas" width="300" height="50">
    Your browser does not support the canvas element.
</canvas>
<script>
var canvas = document.getElementById("myCanvas");
var ctx=canvas.getContext("2d");
ctx.font = "30px Palatino Linotype";

// Create gradient
var grd = ctx.createLinearGradient(0, 500, 750, 0);
grd.addColorStop(0, "MidnightBlue");
grd.addColorStop(1, "Aqua");


// Fill with gradient
ctx.fillStyle = grd;
ctx.textAlign = "center";
ctx.fillText("Beach Statistics", canvas.width / 2, canvas.height / 2);
</script>
<hr/>

<style>
    .wrap {

        margin-bottom: 30px;
    }
 
           .changer{
        padding:3px;
    margin-left: 50%;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    cursor:pointer;
    }
    .select-label:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
.select-label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}
</style>

<script>
    function changeIframe() {
        document.getElementById("beachIframe").src = document.getElementsByClassName("changer")[0].value;
    }
</script>

<div class="wrap">
    <label class="select-label">
        <select class="changer" onchange="changeIframe()">
            <option value="http://magicseaweed.com/Ashdod-Surf-Report/4219/Embed/">Ashdod</option>
            <option value="http://magicseaweed.com/Ashqelon-Surf-Report/3811/Embed/">Ashqelon</option>
            <option value="http://magicseaweed.com/Backdoor-Haifa-Surf-Report/3987/Embed/">Backdoor Haifa</option>
            <option value="http://magicseaweed.com/Bat-Yam-Surf-Report/3662/Embed/">Bat Yam</option>
            <option value="http://magicseaweed.com/Beit-Yanai-Surf-Report/3783/Embed/">Beit Yanai</option>
            <option value="http://magicseaweed.com/Caesarea-Surf-Report/3983/Embed/">Caesarea</option>
            <option value="http://magicseaweed.com/Dolphinarium-Surf-Report/3660/Embed/">Dolphinarium</option>
            <option value="http://magicseaweed.com/Gaza-Surf-Report/4493/Embed/">Gaza</option>
            <option value="http://magicseaweed.com/Gazebbo-Beach-Club-Surf-Report/3980/Embed/">Gazebbo Beach Club</option>
            <option value="http://magicseaweed.com/Haifa-The-Peak-Surf-Report/3671/Embed/">Haifa - The Peak</option>
            <option value="http://magicseaweed.com/Hazuk-Beach-Surf-Report/3659/Embed/">Hazuk Beach</option>
            <option value="http://magicseaweed.com/Hilton-Surf-Report/3658/Embed/">Hilton</option>
            <option value="http://magicseaweed.com/Hof-Maravi-Surf-Report/3663/Embed/">Hof Maravi</option>
            <option value="http://magicseaweed.com/Maagan-Michael-Surf-Report/3984/Embed/">Maagan Michael</option>
            <option value="http://magicseaweed.com/Marina-Herzelia-Surf-Report/3979/Embed/">Marina - Herzelia</option>
            <option value="http://magicseaweed.com/Netanya-Surf-Report/4558/Embed/">Netanya</option>
            <option value="http://magicseaweed.com/Palmahim-Surf-Report/3975/Embed/">Palmahim</option>
            <option value="http://magicseaweed.com/Rishon-Lezion-Surf-Report/3976/Embed/">Rishon Lezion</option>
            <option value="http://magicseaweed.com/Sdot-Yam-Surf-Report/3982/Embed/">Sdot Yam</option>
            <option value="http://magicseaweed.com/Sidna-Ali-Surf-Report/3986/Embed/">Sidna Ali</option>
            <option value="http://magicseaweed.com/Sokolov-Beach-Surf-Report/4640/Embed/">Sokolov Beach</option>
            <option value="http://magicseaweed.com/Tel-Baruch-North-Surf-Report/3978/Embed/">Tel Baruch North</option>
            <option value="http://magicseaweed.com/Topsy-Surf-Report/3661/Embed/">Topsy</option>
            <option value="http://magicseaweed.com/Zikim-Surf-Report/3977/Embed/">Zikim</option>
            <option value="http://magicseaweed.com/Zvulun-Herzelia-Surf-Report/3981/Embed/">Zvulun Herzelia</option>
        </select>
        </label><br /><br />
        <iframe id="beachIframe" src="http://magicseaweed.com/Ashdod-Surf-Report/4219/Embed/" width="940" height="4650" frameborder="0"></iframe>
</div>
<br>

