
@{
    ViewBag.Title = "Privilege Error";
}

<div class="error-page">
    <div>
        <img src="https://images-blogger-opensocial.googleusercontent.com/gadgets/proxy?url=http%3A%2F%2F2.bp.blogspot.com%2F-VE9_o6j0vlU%2FUsyFAHLCiDI%2FAAAAAAAAAWw%2FuXQPIKfgHfE%2Fs1600%2Fhanging.png&container=blogger&gadget=a&rewriteMime=image%2F*">
    </div>
    <div>
        <h1>Sorry, you dont have not enough privileges.</h1>
        <br />
        <br />
        <div class="button-main">
            <button class="button-two" onclick="location.href='@Url.Action("Index", "News")'"><span>Home</span></button>
        </div>
        <br />
        <br />
        <img class="error-image" src="https://images-blogger-opensocial.googleusercontent.com/gadgets/proxy?url=http%3A%2F%2F3.bp.blogspot.com%2F-1OceboVQdW4%2FUsyFAJ5CnjI%2FAAAAAAAAAWs%2FKBd_dNM-Huc%2Fs1600%2FmonstersRight.png&container=blogger&gadget=a&rewriteMime=image%2F*">
    </div>
</div>