
@{
    ViewBag.Title = "Surfing";
}

<h1>Surfing</h1>
    <p>From Wikipedia, the free encyclopedia</p>
<hr />
<div class="wiki-div">
    <p class="wiki-p"><b>Surfing</b> is a surface water sport in which the wave rider, referred to as a surfer, rides on the forward or deep face of a moving wave, which is usually carrying the surfer towards the shore. Waves suitable for surfing are primarily found in the ocean, but can also be found in lakes or in rivers in the form of a standing wave or tidal bore. However, surfers can also utilize artificial waves such as those from boat wakes and the waves created in artificial wave pools.</p>
    <p class="wiki-p">The term surfing refers to the act of riding a wave, regardless of whether the wave is ridden with a board or without a board, and regardless of the stance used. The native peoples of the Pacific, for instance, surfed waves on alaia, paipo, and other such craft, and did so on their belly and knees. The modern-day definition of surfing, however, most often refers to a surfer riding a wave standing up on a surfboard; this is also referred to as stand-up surfing.</p>
    <p class="wiki-p">Another prominent form of surfing is body boarding, when a surfer rides a wave on a bodyboard, either lying on their belly, drop knee, or sometimes even standing up on a body board. Other types of surfing include knee boarding, surf matting (riding inflatable mats), and using foils. Body surfing, where the wave is surfed without a board, using the surfer's own body to catch and ride the wave, is very common and is considered by some to be the purest form of surfing.</p>
    <p class="wiki-p">Three major subdivisions within standing-up surfing are stand-up paddling, long boarding and short boarding with several major differences including the board design and length, the riding style, and the kind of wave that is ridden.</p>
    <p class="wiki-p">In tow-in surfing (most often, but not exclusively, associated with big wave surfing), a motorized water vehicle, such as a personal watercraft, tows the surfer into the wave front, helping the surfer match a large wave's speed, which is generally a higher speed than a self-propelled surfer can produce. Surfing-related sports such as paddle boarding and sea kayaking do not require waves, and other derivative sports such as kite surfing and windsurfing rely primarily on wind for power, yet all of these platforms may also be used to ride waves. Recently with the use of V-drive boats, Wakesurfing, in which one surfs on the wake of a boat, has emerged. The Guinness Book of World Records recognized a 78 feet (23.8 m) wave ride by Garrett McNamara at Nazaré, Portugal as the largest wave ever surfed.</p>
</div>

<hr/>

<div class="wiki-div">
    <h1 >Origins and history</h1>
    <hr />
    <p>For centuries, surfing was a central part of ancient Polynesian culture. Surfing may have first been observed by British explorers at Tahiti in 1767. Samuel Wallis and the crew members of the Dolphin who were the first Britons to visit the island in June of that year. Another candidate is the botanist Joseph Banks being part of the first voyage of James Cook on the HMS Endeavour, who arrived on Tahiti on 10 April 1769. Lieutenant James King was the first person to write about the art of surfing on Hawaii when he was completing the journals of Captain James Cook upon Cook's death in 1779.</p>
    <p>When Mark Twain visited Hawaii in 1866 he wrote,</p>
    <p>In one place we came upon a large company of naked natives, of both sexes and all ages, amusing themselves with the national pastime of surf-bathing.</p>
    <p>References to surf riding on planks and single canoe hulls are also verified for pre-contact Samoa, where surfing was called fa'ase'e or se'egalu (see Augustin Krämer, The Samoa Islands), and Tonga, far pre-dating the practice of surfing by Hawaiians and eastern Polynesians by over a thousand years.</p>
    <p>In July 1885, three teenage Hawaiian princes took a break from their boarding school, St. Mathew’s Hall in San Mateo, and came to cool off in Santa Cruz, California. There, David Kawānanakoa, Edward Keliʻiahonui and Jonah Kūhiō Kalanianaʻole surfed the mouth of the San Lorenzo River on custom-shaped redwood boards, according to surf historians Kim Stoner and Geoff Dunn.</p>
    <p>George Freeth (8 November 1883 – 7 April 1919) is often credited as being the "Father of Modern Surfing". He is thought to have been the first modern surfer.</p>
    <p>In 1907, the eclectic interests of the land baron Henry E. Huntington brought the ancient art of surfing to the California coast. While on vacation, Huntington had seen Hawaiian boys surfing the island waves. Looking for a way to entice visitors to the area of Redondo Beach, where he had heavily invested in real estate, he hired a young Hawaiian to ride surfboards. George Freeth decided to revive the art of surfing, but had little success with the huge 16-foot hardwood boards that were popular at that time. When he cut them in half to make them more manageable, he created the original "Long board", which made him the talk of the islands. To the delight of visitors, Freeth exhibited his surfing skills twice a day in front of the Hotel Redondo.</p>
    <p>In 1975, professional contests started.That year Margo Oberg became the first female professional surfer.
</div>