body{
    
}
.page-wrapper{
   position:relative;
}

@font-face {
   font-family: webFont;
   src: url(sansation_light.woff);
   font-weight: bold;
}

.one-article-text{
    float: right;
    width: 40%;
    margin-right: 7%;
    overflow: hidden;
    color: darkslateblue;
}

.top-one-dd{
    height: 320px;
    width: 1070px;
    background: linear-gradient(rgba(212, 212, 212, 0.73), rgb(255, 255, 255));
    -webkit-border-radius: 11px;
}

.one-article-p{
    height: 215px;

}

.each-top-five{  
    width: 500px;
    float: left;
    margin-right: 70px;
}

.five-article-text{
    float: right;
    width: 260px;
    margin-right: 50px;
    height: 175px;
    overflow: hidden;
    margin-top: -10px;
    color: darkslateblue;
}

.top-five-dd{
    height: 185px;
    background: linear-gradient(rgba(212, 212, 212, 0.73), rgb(255, 255, 255));
    -webkit-border-radius: 11px;
}



.each-later-articles{  
    width: 22%;
    float: left;
    margin-right: 20px;

}

.later-article-dd{
    height: 220px;
    background: linear-gradient(rgb(255, 255, 255),rgba(212, 212, 212, 0.73));
    -webkit-border-radius: 11px;
}

.later-article-text {
    float: right;
    width: 80%;
    margin-right: 5%;
    height: 49px;
    overflow: hidden;
    color: darkslateblue;
    margin-left: 5%;
    margin-top: -3%;
    align-content: center;
}


/*------------------------------
=CONTENT AREA AND SIDEBAR LAYOUT
------------------------------*/

#content {
	display: table;
}

h3.asideTitle  {
    font-weight: bold;
}

	#mainContent {
        font-family: webFont;
		display: table-cell;
		width: 620px;
		padding-right: 22px;
	}
	
	aside {
		display: table-cell;
		width: 300px;
		background: url("../Images/sidebar_background.png") top left;
	}
    

/*------------------------------
=SIDEBAR
------------------------------*/
aside 
{
    position:fixed;
    width: 425px;
}

aside section {
	margin: 22px 0 0 22px;
	padding: 11px 22px;
    
	background:  linear-gradient(rgba(81, 215, 228, 0.62), rgba(107, 239, 226, 0.18));
	
	/* Border-radius not implemented yet */
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
}

aside section ul {
	margin: 0 0 0 22px;
	list-style: none;
}
	
aside section ul li a {
	display: block;
	text-decoration: none;
	color: #000;
}
		
aside section ul li a:hover {
	text-decoration: underline;
}

.Details-content{
    display: table;
}

.main-content{
    display:table-cell;
}

/*------------------------------
=FOOTER
------------------------------*/
footer {
   position: absolute;
    left: 0;
    width: 100%;
    background: #222;

}

footer div {
    display: table;
    margin: 0 auto;
    padding: 44px 0;
    width: 940px;
    color: #777;
}
	
	
footer div section {
	display: table-cell;
	width: 300px;
}
		
footer div #about, footer div #blogroll {
	padding-right: 20px;
}
		
	footer h3 {
		color: #FFF;
	}
	
	footer a {
		color: #999;
	}
	
		footer a:hover {
			color: #FFF;
			text-decoration: none;
		}
	
	footer ul {
		margin: 0 0 0 40px;
		list-style: square;
		color: #565656;
	}
	
		footer ul li a {
			display: block;
		}



/*------------------------------
=COMMENT SECTION
------------------------------*/
 .comments-section {
 	margin: 0;
 	padding: 0;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 }



/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
 	padding: 0;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
  
  font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
  
	margin-top: 30px;
    margin-bottom: 60px;
	width: 768px;
}

.comments-container h1 {
	font-size: 36px;
	color: #283035;
	font-weight: 400;
}

.comments-list {
	margin-top: 30px;
	position: relative;
}

/*-----------------------
 * Lineas / Detalles
 *-----------------------*/
.comments-list:before {
	content: '';
	width: 2px;
	height: 100%;
	background: #c7cacb;
	position: absolute;
	left: 32px;
	top: 0;
}

.comments-list:after {
	content: '';
	position: absolute;
	background: #c7cacb;
	bottom: 0;
	left: 27px;
	width: 7px;
	height: 7px;
	border: 3px solid #dee1e3;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}


.comments-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.comments-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}


.comment-main-level:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
	width: 680px;
	float: right;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent rgba(163, 235, 241, 0.42);
	top: 8px;
	left: -11px;
}

.comments-list .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}


.comment-box .comment-head {
	background: rgba(163, 235, 241, 0.42);
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
	float: right;
	margin-left: 14px;
	position: relative;
	top: 2px;
	color: #A6A6A6;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
	color: #03658c;
}

.comment-box .comment-name {
    color: #03658c;
	font-size: 14px;
	font-weight: 700;
	float: left;

    margin: 2px 5px 0px 0px; 
}


.comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
	background: rgba(163, 235, 241, 0.42) ;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}


/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
    .comments-container {
        width: 480px;
    }

    .comments-list .comment-box {
        width: 390px;
    }
}

.post-comment-box-title{
  background-color : rgba(190, 190, 190, 0.36) ;
  font-size: 0.9em;
  outline: none;
  border: none;
  padding: 15px;
  border-radius: 5px;
  resize: none;
  margin-bottom: 5px; 
  width: 25%;
  -webkit-transition: width 20s ;
  transition: width 2s ;
}
.post-comment-box-title:focus {

        width: 100%;

    }

.post-comment-box{
  background-color : rgba(190, 190, 190, 0.36) ;
  font-size: 0.9em;
  outline: none;
  border: none;
  padding: 15px;
  border-radius: 5px;
  resize: none;
  margin-bottom: 5px; 
  width: 25%;
  height: 50px;
  -webkit-transition: width 2s, height 2s ;
  transition: width 2s, height 2s ;


}

    .post-comment-box:focus {

        width: 100%;
        height: 100px;
    }

.post-btn{
    border: 1px solid transparent;
    padding: 5px 1rem;
    font-size: 16px;
    border-radius: .25rem;
    background-color: rgba(3, 101, 140, 0.70) ;
    margin-top: 15px;
}

.elegantshadow{
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}



.article-title{

  font-size:50px;
  text-shadow: 0 -3px 0 #03658c,
    0 6px 8px rgba(3, 101, 140, 0.70),
    0 9px 10px rgba(0,0,0,.15),
    0 30px 10px rgba(0,0,0,.18),
    0 15px 10px rgba(0,0,0,.21);
}

.myCanvas {
    margin: 20px 0px -35px 0px;  
}

.erroe-page {
    margin-top: 5%;
    margin-left: 15%
}

.error-image {
    margin-left: 22%
}
.button-main{
  margin:22px;
  margin-left: 27%;
}


/*Button Two*/
.button-two {
  background-color: #73b300;
  color: white;
  font-size: 26px;
  border-radius: 4px;
  border: none;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
}


.button-two span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-two span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-two:hover span {
  padding-right: 25px;
}

.button-two:hover span:after {
  opacity: 1;
  right: 0;
}