body {
}

.each-top-five{  
    width: 48%;
    float: left;
    margin-right: 20px;
}

.five-article-text{
    float: right;
    width: 45%;
    margin-right: 60px;
    height: 150px;
    overflow: hidden;
    margin-top: -10px;
    color: darkslateblue;
}

.top-five-dd{
    height: 185px;
    background: linear-gradient(rgba(212, 212, 212, 0.73), rgb(255, 255, 255));
    -webkit-border-radius: 11px;
}

.one-article-text{
    float: right;
    width: 40%;
    margin-right: 7%;
    height: 295px;
    overflow: hidden;
    color: darkslateblue;
}

.top-one-dd{
    height: 320px;
    background: linear-gradient(rgba(212, 212, 212, 0.73), rgb(255, 255, 255));
    -webkit-border-radius: 11px;
}

.each-later-articles{  
    width: 22%;
    float: left;
    margin-right: 20px;

}

.later-article-dd{
    height: 220px;
    background: linear-gradient(rgb(255, 255, 255),rgba(212, 212, 212, 0.73));
    -webkit-border-radius: 11px;
}

.later-article-text{
    float: right;
    width: 45%;
    margin-right: 20%;
    height: 20%;
    overflow: hidden;
    color: darkslateblue;
}


/*------------------------------
=CONTENT AREA AND SIDEBAR LAYOUT
------------------------------*/

#content {
	display: table;
}

h3.asideTitle  {
    font-weight: bold;
}

	#mainContent {
		display: table-cell;
		width: 620px;
		padding-right: 22px;
	}
	
	aside {
		display: table-cell;
		width: 300px;
		background: url("../Images/sidebar_background.png") top left;
	}
    

/*------------------------------
=SIDEBAR
------------------------------*/
aside 
{
    position:fixed;
    width: 425px;
}

aside section {
	margin: 22px 0 0 22px;
	padding: 11px 22px;
    
	background:  linear-gradient(rgba(81, 215, 228, 0.62), rgba(107, 239, 226, 0.18));
	
	/* Border-radius not implemented yet */
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
}

aside section ul {
	margin: 0 0 0 22px;
	list-style: none;
}
	
aside section ul li a {
	display: block;
	text-decoration: none;
	color: #000;
}
		
aside section ul li a:hover {
	text-decoration: underline;
}

.Details-content{
    display: table;
}

.main-content{
    display:table-cell;
}



/*------------------------------
=FOOTER
------------------------------*/
footer {
	
	left: 0;
	width: 100%;
	background: #222;
    bottom: 0;
    
}

	footer div {
		display: table;
		margin: 0 auto;
		padding: 44px 0;
		width: 940px;
		color: #777;
	}
	
		footer div section {
			display: table-cell;
			width: 300px;
		}
		
		footer div #about, footer div #blogroll {
			padding-right: 20px;
		}
		
	footer h3 {
		color: #FFF;
	}
	
	footer a {
		color: #999;
	}
	
		footer a:hover {
			color: #FFF;
			text-decoration: none;
		}
	
	footer ul {
		margin: 0 0 0 40px;
		list-style: square;
		color: #565656;
	}
	
		footer ul li a {
			display: block;
		}